<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.9.dtd">
<suite name="DXC Internship Test Suite" verbose="1">
    <test name="SignUp Tests">
        <classes>
            <class name="com.internship.tests.SignUpTest"/>
        </classes>
    </test>
    <test name="SignIn Tests">
        <classes>
            <class name="com.internship.tests.SignInTest"/>
        </classes>
    </test>
    <test name="Profile Tests">
        <classes>
            <class name="com.internship.tests.ProfileTest"/>
        </classes>
    </test>
     <test name="Home Tests">
        <classes>
            <class name="com.internship.tests.HomeTest"/>
        </classes>
    </test>
</suite>