# Build artifacts
**/target/
**/*.jar
**/*.war
**/*.ear

# IDEs and Editors
.idea/
*.iml
.vscode/
.classpath
.project
.settings/
*.swp
*.swo

# Environment and Secrets
.env
secrets/
**/*.log
bug_report.md
